[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "This is an android app using java this will help you to get your location. You just only need to sign in to the application. "
[access "refs/*"]
	owner = group user/RishabhSharma2309
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RishabhSharma2309
	label-Verified = -1..+1 group user/RishabhSharma2309
	push = group user/RishabhSharma2309
	read = group user/RishabhSharma2309
	rebase = group user/RishabhSharma2309
	removeReviewer = group user/RishabhSharma2309
	submit = group user/RishabhSharma2309
[access "refs/heads/*"]
	create = group user/RishabhSharma2309
	push = +force group user/RishabhSharma2309
	pushMerge = group user/RishabhSharma2309
	read = group user/RishabhSharma2309
[access "refs/tags/*"]
	push = group user/RishabhSharma2309
	push = +force group user/RishabhSharma2309
